
@import url('https://fonts.googleapis.com/css?family=Mukta');
/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');*/

.container {
    width: 100%;
    max-width: 35em;
    margin: auto;
    background-color: #d6f9b5;
    border: 1px solid #70a1d7;
    border-radius: 3px;
    box-shadow: 1px 1px 5px grey;
    height: 100%;
    padding: 0.5rem;
}

.row {
    margin: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;
    margin-top: 1em;
}

tr {
    margin: 0.3em;
    border: 1px solid #70a1d7;
    background-color: #d6f2f1;
}

td {
    padding: 0em 1em 0em;
    border: 0.5px solid #70a1d7
}

fieldset {
    background-color: #d6f2f1;
    border: 1px solid #70a1d7;
}

body {
    font-family: 'Mukta', sans-serif;
    color: #70a1d7;
    background-color: #fefdca;
}

td.msg-user {
    font-weight: bold;
    width: 20%;
}

td.thumb {
    padding: 0;
    width: 20%;
}



img.thumb {   
    float: left; 
    width: 100%;
}

input.message {
    min-width: 10em;
    width: 80%;
    border: 0.5px solid #70a1d7;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
}

.btn {
    font-family: 'Mukta', sans-serif;
    min-width: 5em;
    line-height: 1.2em;
    padding: 5px 16px 5px;
    border-radius: 2px; 
    border: none;
    margin: auto;
    background-color: #70a1d7;
    color: white;
}

.btn:enabled {
    background-color: #70a1d7;
}

.btn:enabled:active {
    background-color: #a5dee5;
}

.btn:disabled {
    background-color: gray;
    color: white;
}

.btn > a {
    color: inherit;
    text-decoration: none;
}

.navbar > ul {
    margin: 0;
    list-style: none;
    background-color: #d6f2f1;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #70a1d7;
}

.navbar > ul > li {
    display: inline;
    margin: auto;
}

p {
    margin: 0.2em;    
}

p.tituloVid {
    line-height: 1.2em;
    margin-bottom: 0.5em;
}

p.autorVid {
    font-size: smaller;
}

#go-logout{
    background-color: #f47c7c;
    float: right;
}