
@import url('https://fonts.googleapis.com/css?family=Mukta');
/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans');*/

.container {
    width: 30em;
    margin: auto;
}

.row {
    margin: auto;
}

table {
    border-collapse: collapse;
}

table,th,td {
    border: 1px solid #AAA;
}

body {
    font-family: 'Mukta', sans-serif;
}

td.msg-user {
    font-weight: bold;
}

.thumb {
    height: 4em;
}

input.message {
    width: 80%;
}