<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Flask</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <div class="container">


        <div class="row">
            <table class="mensajes">
                <caption><h3>Playlist</h3></caption>                
                {% for video in videos %}
                    <tr>
                        <td class="msg-user"> {{ video.user.username }}:</td> 
                        <td> {{ video.title }} </td>
                        <td><img class="thumb" src="{{video.thumbnail}}"></td></tr>
                {% endfor %}                
            </table>
        </div>

        <div class="row">
            <form action="" method="POST">

                <fieldset>
                    <legend>Agregar Video</legend>
                    <input type="text" class="message" placeholder="Url o Video ID"/>
                    <input type="submit" class="btn" value="Enviar" />
                </fieldset>
                
            </form>
        </div>

    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="/static/js/session.js"></script>

</body>

</html>