<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Flask</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <div class="container">


        <div class="row">
            <table class="mensajes">
                <caption>Playlist</caption>                
                {% for video in videos %}
                    <tr><td class="msg-user"> {{ video.user.username }}:</td> <td> {{ video.videoid }} </td></tr>
                {% endfor %}                
            </table>
        </div>

        <div class="row">
            <form action="" method="POST">

                <fieldset>
                    <legend>Agregar Video</legend>
                    <input type="text" class="message" placeholder="Url"/>
                    <input type="submit" class="btn" value="Enviar" />
                </fieldset>
                
            </form>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="/static/js/session.js"></script>

</body>

</html>